<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- partial('google-analytics') %>

  <%
  var title = page.title;
  
  if (is_archive()){
    title = __('archive_a');
    
    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%= theme.favicon.favicon %>">
    <!--favicons here-->
    <% if (theme.favicon.themeColor) { %>
      <meta name="theme-color" content="<%= theme.favicon.themeColor %>">
    <% } %>
    <% if (theme.favicon.appleTouchIcon) { %>
      <link rel="apple-touch-icon" sizes="180x180" href="<%= theme.favicon.appleTouchIcon %>">
    <% } %>
    <% if (theme.favicon.icon32) { %>
      <link rel="icon" type="image/png" sizes="32x32" href="<%= theme.favicon.icon32 %>">
    <% } %>
    <% if (theme.favicon.icon16) { %>
      <link rel="icon" type="image/png" sizes="16x16" href="<%= theme.favicon.icon16 %>">
    <% } %>
    <% if (theme.favicon.manifest) { %>
      <link rel="manifest" href="<%= theme.favicon.manifest %>">
    <% } %>
    <% if (theme.favicon.themeColor && theme.favicon.maskIcon) { %>
      <link rel="mask-icon" href="<%= theme.favicon.maskIcon %>" color="<%= theme.favicon.themeColor %>">
    <% } %>
    <% if (theme.favicon.themeColor) { %>
      <meta name="msapplication-TileColor" content="<%= theme.favicon.themeColor %>">
    <% } %>
    <!--favicons end-->
  <% } %>
  <%- css("css/bundle","css/main",) %>
  <style>
    .page-actions > .github > a::before { display: inline-block; vertical-align: middle; background: url("<%= theme.githubIcon %>") center center/16px 16px no-repeat; height: 16px; width: 16px; }
    .page-actions > .github > a:hover::before { background-image: url("<%= theme.githubIconHover %>"); }
  </style>

</head>
